.nav__nav {
	display:flex;
	padding: 1.5rem;
	background: #fff;
	color: #333;
	position:relative;
	margin-bottom:2rem;

	transition: all .3s ease-in-out;
}

.nav__nav--active {
	margin-bottom:5rem;
}

.nav__title {
	align-self: center;
	font-size:2rem;
}

.nav__search {
	cursor:pointer;
	align-self: center;
	text-align:right;
	flex-grow: 1;
}

.nav__search-button {
	float:right;
}

.nav__search-button:after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: #333;
  transition: .3s ease-in-out all;
}

.nav__search-button--active:after {
  width: 100%;
}


.nav__search-bar {
	bottom:0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index:-1;
	transition: .3s ease-in-out all;
}

.nav__search-bar--active {
	bottom: -3rem;
	z-index: 10;
}

.nav__search-bar__input {
	margin: 0 auto;
	width: 100%;
	height: 2rem;
	border: none;
	outline: none;
	padding: 0 .5rem;
	caret-color:	#A9A9A9;
	background-color:#FFF;
 }

 .nav__noresults {
	 text-align:center;
 }

